<section id="hero-about" class="hero hero-mini">
    <div class="hero-container">
        <h3>
            <strong>About Us</strong>
        </h3>
        <h2>
            we are a team of trainers<br />aimed at accelerating your fitness<br />using
            our unique training methods
        </h2>
    </div>
</section>
<!-- End Hero -->

<main id="main">
    <div class="container">
        <div class="why-we-started vw-90 my-4 rounded shadow">
            <img
                src="assets/img/team/member-2.png"
                alt="Picture of the team"
                class="img-fluid mx-auto founders-image rounded-top"
            />
            <div class="why-card p-3">
                <p
                    class="why-card-text text-white text-justify fw-medium lh-base"
                >
                    Accelerate Academy started from a simple passion - helping
                    people feel healthier and happier. We wanted to create a
                    place where anyone can reach their fitness goals, no matter
                    their starting point. Our trainers combine their knowledge
                    and new methods to make working out fun and effective. We're
                    all about pushing boundaries and growing stronger, not just
                    physically but mentally too. We're here to support you on
                    your journey towards a better you. Because when you feel
                    good, everything else falls into place.
                </p>
            </div>
        </div>
        <hr class="bg-secondary my-5" />

        <div class="about-services">
            <h2 class="h1 mb-3 fw-semibold text-center">
                fitness services to enhance your physical well-being
            </h2>
            <div class="card text-center my-4 mx-auto">
                <i class="bi bi-scissors card-icon"></i>
                <div class="card-body">
                    <h5 class="card-title lead fw-semibold">
                        Customised workout plans
                    </h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        Workouts tailored to your custom requirements, aimed to
                        improve your sport-specific Performance
                    </h6>
                </div>
            </div>

            <div class="card text-center my-4 mx-auto">
                <i class="bi bi-headset card-icon"></i>
                <div class="card-body">
                    <h5 class="card-title lead fw-semibold">
                        Support from expert trainers
                    </h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        Coaches and trainers allways ready to answer your
                        queries and motivate you
                    </h6>
                </div>
            </div>

            <div class="card text-center my-4 mx-auto">
                <i class="bi bi-house card-icon"></i>
                <div class="card-body">
                    <h5 class="card-title lead fw-semibold">Train at home</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        No time to travel to gym? Train at your preffered place
                        with out trainers willing to travel.
                    </h6>
                </div>
            </div>
        </div>
        <hr class="bg-secondary my-5" />

        <!-- Team Section -->
        <div class="section-title">
            <h3 class="h1 fw-semibold text-center">Meet our Trainers</h3>
        </div>

        <div class="row team about-team">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img
                            src="assets/img/team/member-1.png"
                            class="img-fluid"
                            alt=""
                        />
                        <div class="social">
                            <a href=""><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Navin Singh</h4>
                        <span>Founder</span>
                        <span>Strength & Conditioning Trainer</span>
                        <span>CPT(ACE), CSCS(NSCA)</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img
                            src="assets/img/team/member-2.png"
                            class="img-fluid"
                            alt=""
                        />
                    </div>
                    <div class="member-info">
                        <h4>Shivanand P</h4>
                        <span>Co-Founder</span>
                        <span>Special Population Coach</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-footer p-2 mb-4 d-flex">
            <a href="/programs" class="btn-join-now mx-auto">Join Us Now</a>
        </div>
    </div>
</main>
