<!-- ======= Hero Section ======= -->
<section id="hero-home" class="hero">
    <div class="hero-container">
        <h3>
            Welcome to <br />
            <strong>Accelerate Academy</strong>
        </h3>
        <h2>
            we are a team of trainers<br />aimed at accelerating your fitness<br />using
            our unique training methods
        </h2>
        <a href="/programs" class="btn-get-started">Join Now</a>
    </div>
</section>
<!-- End Hero -->

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about bg-dark-subtle">
        <div class="container align-items-center">
            <div class="section-title">
                <h2>About</h2>
                <h3>Learn More <span>About Us</span></h3>
                <p>
                    At Accelerate Academy, we prioritize the individual needs
                    and goals of our clients and strive to provide a
                    comprehensive and personalized approach to health and
                    fitness.
                </p>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p class="px-2">
                        As a personal health and wellness training company,
                        Accelerate Academy is dedicated to helping individuals
                        achieve their fitness goals through tailored workout and
                        meal plans. Our approach emphasizes individualization,
                        sustainability, and long-term success.
                    </p>
                    <ul>
                        <li>
                            <i class="ri-check-double-line"></i> Live strength
                            and conditioning workouts
                        </li>
                        <li>
                            <i class="ri-check-double-line"></i> Recovery
                            focused cooldowns
                        </li>
                        <li>
                            <i class="ri-check-double-line"></i> Diet plans to
                            optimise nutrition.
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p class="px-2">
                        Our training plans are sport-specific and include
                        periodized schedules, recovery protocols, and strength
                        and conditioning exercises to improve athletic ability
                        and prevent injury. Our diet plans focus on balanced
                        macronutrient distribution, nutrient-dense foods,
                        portion control education, and hydration encouragement
                        to support overall health and wellness.
                    </p>
                    <div class="d-flex">
                        <a href="/about" class="btn-learn-more mx-auto"
                            >Learn More</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Programs Section ======= -->
    <section id="programs" class="programs">
        <div class="container">
            <div class="section-title">
                <h2>Featured Programs</h2>
                <p>
                    Go through our offered programs, and <br />select the one
                    that suits you best
                </p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <span class="recommended-badge"
                            >General Population</span
                        >
                        <h3>Personalised Training Plan</h3>
                        <h4><sup>₹</sup>5000<span> / month</span></h4>
                        <ul>
                            <li>
                                <i class="ri-check-double-line"></i> Live
                                Strength and Conditioning Workout
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i> 2+ Hours of
                                Live Sessions Everyday
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i> Recovery
                                Focused Cooldown
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i> Tailored to
                                Individual Needs
                            </li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                    <div class="box">
                        <span class="recommended-badge">For Athletes</span>
                        <h3>Personalised Training Plan</h3>
                        <h4><sup>₹</sup>7000<span> / month</span></h4>
                        <ul>
                            <li>
                                <i class="ri-check-double-line"></i> Sports
                                specific exercises
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i> Performance
                                Optimizing Training
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i> S&C to
                                improve athletic ability
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i> Cross
                                Training to prevent injury
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i> Recovery
                                focused cooldown
                            </li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                    <div class="box">
                        <span class="recommended-badge">Goal Oriented</span>
                        <h3>Fat Cutting Program</h3>
                        <h4><sup>₹</sup>35,000<span> / 3 months</span></h4>
                        <ul>
                            <li>
                                <i class="ri-check-double-line"></i> Customised
                                Meal Plans
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i>
                                Cardiovascular Exercises
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i>
                                High-Intensity Interval Training
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i> Calorie
                                Deficit Meal Plans
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i> Tracking
                                Progress
                            </li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col col-xs-10 col-lg-6 text-center m-auto">
                    <a href="/programs" class="mt-4 btn-all-programs"
                        >Browse All Programs</a
                    >
                </div>
            </div>
        </div>
    </section>
    <!-- End Programs Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials-home" class="testimonials">
        <div class="container">
            <div class="text-center">
                <h3 class="mb-3">What our clients say?</h3>
                <!-- Carousel -->
                <div id="testimonial-carousel" class="carousel slide align-items-center" data-bs-ride="carousel" >
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
                    <div class="carousel-inner">
						<!-- Slide 1 -->
                        <div class="carousel-item active" data-bs-interval="5000">
                            <div class="card mx-auto" >
                                <img src="assets/img/team/member-2.png" class="card-img-top rounded-circle img-thumbnail" alt="Client 1" />
                                <div class="card-body">
									<p class="card-text">
										Some quick example text to build on the
                                        card title and make up the bulk of the
                                        card's content.
                                    </p>
									<h5 class="card-title text-white">Nagesh</h5>
									<h6 class="card-subtitle mb-4 text-white-50">Ultimate Frisbee</h6>
                                </div>
                            </div>
                        </div>
						<!-- Slide 2 -->
                        <div class="carousel-item" data-bs-interval="5000">
                            <div class="card mx-auto" >
                                <img src="assets/img/team/member-2.png" class="card-img-top rounded-circle img-thumbnail" alt="Client 1" />
                                <div class="card-body">
									<p class="card-text">
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quibusdam, quidem magni exercitationem velit vitae.
                                    </p>
									<h5 class="card-title text-white">Lorem</h5>
									<h6 class="card-subtitle mb-4 text-white-50">General Population</h6>
                                </div>
                            </div>
                        </div>
						<!-- Slide 3 -->
                        <div class="carousel-item" data-bs-interval="5000">
                            <div class="card mx-auto" >
                                <img src="assets/img/team/member-2.png" class="card-img-top rounded-circle img-thumbnail" alt="Client 1" />
                                <div class="card-body">
									<p class="card-text">
										Numquam quam, distinctio voluptatum nobis animi nihil at quidem, eaque fugiat. Facere cupiditate fugit enim.
                                    </p>
									<h5 class="card-title text-white">Person Pers</h5>
									<h6 class="card-subtitle mb-4 text-white-50">Tennis Player</h6>
                                </div>
                            </div>
                        </div>
						<!-- Slides End -->
                    </div>
                </div> <!-- Carousel End-->
                <a class="testimonials-btn mt-3" href="/testimonials"
                    >Read More Stories</a
                >
            </div>
        </div>
    </section>
    <!-- End Testimonial Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">
            <div class="section-title">
                <h2>Team</h2>
                <h3>Meet Our <span>Trainers</span></h3>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img
                                src="assets/img/team/member-1.png"
                                class="img-fluid"
                                alt=""
                            />
                            <div class="social">
                                <a href=""><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Navin Singh</h4>
                            <span>Founder</span>
                            <span>Strength & Conditioning Trainer</span>
                            <span>CPT(ACE), CSCS(NSCA)</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img
                                src="assets/img/team/member-2.png"
                                class="img-fluid"
                                alt=""
                            />
                        </div>
                        <div class="member-info">
                            <h4>Shivanand P</h4>
                            <span>Co-Founder</span>
                            <span>Special Population Coach</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
