<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Accelerate Academy</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body class="">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo">
            <a href="/" class=""><img src="assets/img/logo.png" alt="" class="img-fluid">
                <span class="align-middle">Accelerate</span>
            </a>
        </h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a id="home-nav" class="nav-link" href="/">Home</a></li>
          <li><a id="about-nav" class="nav-link" href="/about">About Us</a></li>
          <li><a id="programs-nav" class="nav-link" href="/programs">Programs</a></li>
          <li><a id="blog-nav" class="nav-link" href="/blog">Blog</a></li>
          <li><a id="contact-nav" class="nav-link" href="/contact">Contact</a></li>
          <li><a id="account-nav" href="/login" class="nav-link">My Account</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
    <div><%- body %></div>

    <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top px-2">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact" id="contact">
            <h3>Accelerate Academy</h3>
            <p class="">
              #9, 2nd Cross, Ashoknagar <br>
              Basavanagudi, Bangalore 560050<br><br>

              <strong>Phone:</strong> <a href="tel:+919353759748">+91 9353 759 748</a><br>
              <strong>Email:</strong> <a href="mailto:teamaccelerateacademy@gmail.com">teamaccelerateacademy@gmail.com</a><br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/programs">Programs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/terms-conditions">Terms & Conditions</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/privacy-policy">Privacy policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4 row">

      <div class="me-md-auto text-center text-md-start lg-col-6">
        <div class="copyright">
          &copy; <strong><span>Accelerate Academy</span></strong>. All Rights Reserved
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0 lg-col-6">
        <a href="https://www.youtube.com/@accelerateacademy" class="youtube"><i class="bx bxl-youtube"></i></a>
        <a href="https://www.instagram.com/teamaccelerateacademy/" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>