<section id="hero-login" class="hero hero-mini">
    <div class="hero-container">
        <h3>
            <strong>login</strong>
        </h3>
        <h2>Login to your account for more</h2>
    </div>
</section><!-- End Hero -->

<main id="main">
    <section id="programs" class="programs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6 program-box m-auto">
                    <div class="box">
                        <h1 class="text-center mb-3"><i class="bi bi-person-check"></i>&nbsp;&nbsp;Login</h1>
                        <%- include ('./partials/messages') %>
                        <form action="/login" method="POST">
                            <div class="form-group mb-3">
                                <!-- <label class="form-label" for="email">Email</label> -->
                                <input
                                    type="email"
                                    id="email"
                                    name="email"
                                    class="form-control"
                                    placeholder="Enter Email"
                                />
                            </div>
                            <div class="form-group mb-3">
                                <!-- <label class="form-label" for="password">Password</label> -->
                                <input
                                    type="password"
                                    id="password"
                                    name="password"
                                    class="form-control"
                                    placeholder="Enter Password"
                                />
                            </div>
                            <button type="submit" class="btn btn-buy">Login</button>
                        </form>
                        <p class="mt-4 caption-text">
                            New User? <a href="/register">Register</a>
                        </p>
                    </div>
                </div>
            </div> 
        </div>
    </section>
</main>
