<section id="hero-programs" class="hero hero-mini">
    <div class="hero-container">
        <h3>
            <strong>All Programs</strong>
        </h3>
        <h2>Go through our offered programs, and <br>select the one that suits you best</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Programs Section ======= -->
    <section id="programs" class="programs">
        <div class="container">

            <!-- Category 1 Row -->
            <div class="row">
                <div class="section-title">
                <h2>General Population</h2>
                </div>

                <div class="col-lg-4 col-md-6 program-box">
                    <div class="box">
                        <h3>Personalised Training Plan</h3>
                        <h4><sup>₹</sup>5000<span> / month</span></h4>
                        <ul>
                        <li><i class="ri-check-double-line"></i> Live Strength and Conditioning Workout</li>
                        <li><i class="ri-check-double-line"></i> 2+ Hours of Live Sessions Everyday</li>
                        <li><i class="ri-check-double-line"></i> Recovery Focused Cooldown</li>
                        <li><i class="ri-check-double-line"></i> Tailored to Individual Needs</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 mt-4 mt-md-0 program-box">
                    <div class="box">
                        <h3>Personalised Diet Plan</h3>
                        <h4><sup>₹</sup>3000<span> / month</span></h4>
                        <ul>
                        <li><i class="ri-check-double-line"></i> Personalised Meal Plans</li>
                        <li><i class="ri-check-double-line"></i> Balanced Macronutrients</li>
                        <li><i class="ri-check-double-line"></i> Nutrient Dense Foods</li>
                        <li><i class="ri-check-double-line"></i> Regular Check-ins</li>
                        <li><i class="ri-check-double-line"></i> Portion Control Education</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-md-0 program-box">
                    <div class="box">
                        <h3>General Population Combo</h3>
                        <h4><sup>₹</sup>7000<span> / month</span></h4>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Live Strength and Conditioning Workout</li>
                            <li><i class="ri-check-double-line"></i> 2+ Hours of Live Sessions Everyday</li>
                            <li><i class="ri-check-double-line"></i> Recovery Focused Cooldown</li>
                            <li><i class="ri-check-double-line"></i> Tailored to Individual Needs</li>
                            <li><i class="ri-check-double-line"></i> Meal Plans to Support Training Goals</li>
                            <li><i class="ri-check-double-line"></i> Balanced Macronutrient Distribution to Optimise Energy Levels</li>
                            <li><i class="ri-check-double-line"></i> Nutrient-dense foods to fuel workouts and aid in recovery</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div> 
                <div class="my-4"></div>
            </div> 
            <!-- Row 1 End -->


            <!-- Category 2 Row -->
            <div class="row">
                <div class="section-title">
                <h2>Athletes</h2>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <h3>Personalised Training Plan</h3>
                        <h4><sup>₹</sup>7000<span> / month</span></h4>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Sports specific exercises</li>
                            <li><i class="ri-check-double-line"></i> Performance Optimizing Training</li>
                            <li><i class="ri-check-double-line"></i> S&C to improve athletic ability</li>
                            <li><i class="ri-check-double-line"></i> Cross Training to prevent injury</li>
                            <li><i class="ri-check-double-line"></i> Recovery focused cooldown</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                    <div class="box">
                        <h3>Personalised Diet Plan</h3>
                        <h4><sup>₹</sup>5000<span> / month</span></h4>
                        <ul>
                        <li><i class="ri-check-double-line"></i> High Quality Protein Sources to aid in Muscle Recovery and Growth</li>
                        <li><i class="ri-check-double-line"></i> Apporpriate Carbohydrate intake to fuel Exercise Performance</li>
                        <li><i class="ri-check-double-line"></i> Healthy fats for Energy and Overall Health</li>
                        <li><i class="ri-check-double-line"></i> Specific Nutrition Strategies tailored to their sport activity</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                    <div class="box">
                        <h3>Complete Athlete Combo</h3>
                        <h4><sup>₹</sup>10,000<span> / month</span></h4>
                        <ul>
                        <li><i class="ri-check-double-line"></i> Optimised Results for overall Health and Fitness</li>
                        <li><i class="ri-check-double-line"></i> Convinient and Efficient ways to Achievce Desired Results</li>
                        <li><i class="ri-check-double-line"></i> Education on mindful eating habits to support overall health and wellness</li>
                        <li><i class="ri-check-double-line"></i> Improved Accountability and Support from a Dedicated Trainer</li>
                        <li><i class="ri-check-double-line"></i> Better integration between diet and exercise for Maximum effectiveness</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div> 
                <div class="my-4"></div>
            </div> 
            <!-- Row 2 End -->

            <!-- Category 3 Row -->
            <div class="row">
                <div class="section-title">
                <h2>Goal Oriented Programs</h2>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <h3>Muscle Building Program</h3>
                        <h4><sup>₹</sup>30,000<span> / 3 months</span></h4>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Hypertrophy Focus for Optimal Gains</li>
                            <li><i class="ri-check-double-line"></i> Customised Caloric Surplus Meals</li>
                            <li><i class="ri-check-double-line"></i> Expert Guidance from Experienced Trainers</li>
                            <li><i class="ri-check-double-line"></i> Progressive Overload Training for Muscle Growth</li>
                            <li><i class="ri-check-double-line"></i> Unlock your muscle building potential now</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                    <div class="box">
                        <h3>Fat Cutting Program</h3>
                        <h4><sup>₹</sup>35,000<span> / 3 months</span></h4>
                        <ul>
                        <li><i class="ri-check-double-line"></i> Customised Meal Plans</li>
                        <li><i class="ri-check-double-line"></i> Cardiovascular Exercises</li>
                        <li><i class="ri-check-double-line"></i> High-Intensity Interval Training</li>
                        <li><i class="ri-check-double-line"></i> Calorie Deficit Meal Plans</li>
                        <li><i class="ri-check-double-line"></i> Tracking Progress</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-md-0 custom-plan">
                    <div class="box">
                        <h3>Custom Plan <BR>(Special Population)</h3>
                            <h2>Contact Us to Build Your Own Custom Plan</h2>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Contact Now</a>
                        </div>
                    </div>
                </div>
                <div class="my-4"></div>

            </div> 
            <!-- Row 3 End -->

        </div>
    </section><!-- End Programs Section -->

  </main><!-- End #main -->
